<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY5BkyOdVLdS1wCuqkbkR4g46379SGHAM</string>
	<key>GCM_SENDER_ID</key>
	<string>444338088045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatter-3902e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-3902e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444338088045:ios:46858ff84596531441b764</string>
</dict>
</plist>